{% extends "header.html" %}
{% block content %}


<p>
    City Planning has been an essential part of how humans design the cities they live in since antiquity. In medieval times, places where the royalty lived was usually fortified in the center of the town, millitary practices and food granaries had their own designated areas and general polulation lived and thrived in residential areas in the periphary of downtowns.

    In modern times, humans have developed a very efficient way to plan a city through zoning. In countries like US and Canada almost every city and town deploys this tool to divide which activites can take place in which area. Generally each city has a local coucil which sets up a planning commission, responsible to draw those zoning maps based on the unique Geography and Climate of each city. 

    Generally a city's land is divided among four major land use cases. Residential, Commercial, Industrial and ocasionally Agricultural. A jurisdiction then specifically divide up these major categories into zones based on variety of rules the parcel and the zone has to follow like the maximum acreage, density, setbacks etc. Furthermore cities sometimes have Overlay zones and specific plan zones to further fine-tune the development that can happen on a piece of land. Any new construction taking place has to follow the rules set by the local planning commission and have to 

    With the advent of digital mapping, most of the cities have digitised their zoning map and some have deploys arcgis web apps through which anyone can find the zoning of a parcel using just an address.
    Parcelini is using arcgis rest APIs to simplify the access of databases available with local jurisdictions across United States. Through our tool you can access the information available with city planning commission using just your address.


</p>


{% endblock content %}